@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  border: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.sideBarActive {
  background-color: white;
}

.sideBarActive > svg {
  scale: 1.1;
  opacity: 1;
  fill: #000;
}

.darkshadow {
  box-shadow: 0 0 10px 1px rgba(101, 101, 101, 0.253);
}

body {
  scrollbar-width: thin;
  scrollbar-color: #373334;
}
body::-webkit-scrollbar {
  width: 0.45rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #373334;
}
